* text=auto

scripts/*.cs text eol=lf
scripts/**/*.cs text eol=lf
.devcontainer/* text eol=lf
deploy/Caddyfile text eol=lf
deploy/*.json text eol=lf
deploy/*.service text eol=lf
deploy/*.timer text eol=lf
deploy/*.yml text eol=lf
deploy/caddy-metrics-logrotate text eol=lf
tests/deploy/Dockerfile text eol=lf
