[Unit]
Description=Caddy metrics report
After=prometheus.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/dotsider-deploy-host report
User=root
